<%= form_with(model: [@student, response], local: true) do |form| %>
  <% if response.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(response.errors.count, "error") %> prohibited this response from being saved:</h2>

      <ul>
      <% response.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field" style="display:none;">
    <%= form.label :cid %>
    <%= form.text_field :cid, :value => params[:questionnaire_cid] %>
  </div>

  <div class="field" style="display:none;">
    <%= form.label :student_id %>
    <%= form.number_field :student_id, :value => @student.id %>
  </div>

  <div class="field" style="display:none;">
    <%= form.label :questionnaire_id %>
    <%= form.number_field :questionnaire_id, :value => params[:questionnaire_id] %>
  </div>

  <% Questionnaire.find(1).questions.each do |question| %>
   <%= form.label :question, question.description %>
   <%= form.fields_for :answers do |a| %>
    <% if question.q_type == 1 %>
        <div class="field">
          <%= a.radio_button :choice, 1, :checked => "checked" %>
          <%= a.label :choice, "1 - Strongly Disagree" %>
          <%= a.radio_button :choice, 2 %>
          <%= a.label :choice, "2 - Mildly Disagree" %>
          <%= a.radio_button :choice, 3 %>
          <%= a.label :choice, "3 - Neutral" %>
          <%= a.radio_button :choice, 4 %>
          <%= a.label :choice, "4 - Mildly Agree" %>
          <%= a.radio_button :choice, 5 %>
          <%= a.label :choice, "5 - Strongly Agree" %>
        </div>

    <% elsif question.q_type == 2 %>
      
        <div class="field">
          <%= a.radio_button :choice, 1, :checked => "checked" %>
          <%= a.label :choice, "<2" %>
          <%= a.radio_button :choice, 2 %>
          <%= a.label :choice, "2" %>
          <%= a.radio_button :choice, 3 %>
          <%= a.label :choice, "2.5" %>
          <%= a.radio_button :choice, 4 %>
          <%= a.label :choice, "3" %>
          <%= a.radio_button :choice, 5 %>
          <%= a.label :choice, ">3" %>
        </div>

    <% elsif question.q_type == 3 %>

        <div class="field">
          <%= a.text_field :text, maxlength: 155 %>
        </div>

    <% end %> <!-- end of if-else -->

      <div style="display:none;">
        <div class="field">
          <%= a.label :question_id %>
          <%= a.number_field :question_id, :value => question.id %>
        </div>

        <div class="field">
          <%= a.label :student_id %>
          <%= a.number_field :student_id, :value => @student.id %>
        </div>
      </div>

   <% end %> <!-- end of fields_for -->

  <% end %> <!-- end of Questions loop-->

  <div class="actions">
    <%= form.submit({value:'Submit'}) %>
  </div>
<% end %>
