<p id="notice"><%= notice %></p>

<h1>Responses</h1>

<table>
  <thead>
    <tr>
      <th>Cid</th>
      <th>Student</th>
      <th>Questionnaire</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% Student.find(params[:student_id]).responses.each do |response| %>
      <tr>
        <td><%= response.cid %></td>
        <td><%= response.student.id %></td>
        <td><%= response.questionnaire %></td>
        <td><%= link_to 'Show', student_responses_path(@student, response) %></td>
        <td><%= link_to 'Edit', edit_student_response_path(@student, response) %></td>
        <td><%= link_to 'Destroy', [@student, response], method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to 'Show Student', [@student] %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Back', profile_path %>

<br>