<p id="notice"><%= notice %></p>

<h1>Responses</h1>

<table>
  <thead>
    <tr>
      <th>Cid</th>
      <th>Student</th>
      <th>Questionnaire</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% Student.find(params[:student_id]).responses.each do |response| %>
      <tr>
        <td><%= response.cid %></td>
        <td><%= response.student %></td>
        <td><%= response.questionnaire %></td>
        <td><%= link_to 'Show', response %></td>
        <td><%= link_to 'Edit', edit_response_path(response) %></td>
        <td><%= link_to 'Destroy', response, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Response', new_student_response_path({:student_id => params[:student_id] }) %>
